@mixin number-step($parent, $background, $color){
  #{$parent}{
    background: $background;
    width: 100px;
    height: 100px;
    @include border-radius-50-percent;
    text-align: center;
    padding-top: 20px;
    h5{
      color: $color;
      font-size: 4rem;
    }
  }
  @include media(mobile){
    #{$parent}{
      width: 50px;
      height: 50px;
      padding-top: 7px;
      h5{
        font-size: 2rem;
      }
    }
  }
}

@mixin box-image($parent, $size, $size-mobile){
  #{$parent}{
    width: $size;
    height: $size;
    overflow: hidden;
    position: relative;
    @include border-radius-50-percent;
    img{
      position: absolute;
      width: $size
    }
  }
  @include media(mobile){
    #{$parent}{
      width: $size-mobile;
      height: $size-mobile;
      img{
        width: $size-mobile
      }
    }
  }
}

@mixin border-radius-50-percent{
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@mixin border-radius-10px{
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

@mixin border-radius-left{
  -webkit-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
}

@mixin border-radius-right{
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}

@mixin no-border-radius{
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

@mixin no-border-left-right{
  border-left: none;
  border-right: none;
}

@mixin no-border-left{
  border-left: none;
}
@mixin border-radius-custom($rt, $lt, $rb, $lb){
   -webkit-border-radius: $rt $lt $rb $lb;
  border-radius: $rt $lt $rb $lb;
}

@mixin border-radius-btn-mobile{
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}

@mixin border-radius-right-mobile{
  -webkit-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 0px 10px 10px 0px;
  border-right: 1px solid #acacac;
}

@mixin border-radius-left-mobile{
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  border-left: 1px solid #acacac;
}

@mixin media($point) {
  @if $point == desktop-lg {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == desktop-md {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == min-desktop-md {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == desktop-sm {
    @media (max-width: 980px)  { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == min-tablet {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content; }
  }
}

@mixin btn-submit($parent, $color-font, $btn-color, $btn-hover){
  #{$parent}{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 45px;
    background: $btn-color;
    padding: 10px 25px;
    color: $color-font;
    font-size: $font-size-title-md;
    font-weight: 600;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover{
      background: $btn-hover;
      border: 1px solid $btn-hover;
    }
  }
}

@mixin btn-call-action($parent, $color-font, $btn-color, $btn-hover){
  #{$parent}{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 65px;
    background: $btn-color;
    padding: 17px 25px;
    color: $color-font;
    font-size: $font-size-title-lg-22;
    font-weight: 600;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.15), 0 0 24px 0 rgba(0, 0, 0, 0.12);
    &:hover{
      background: $btn-hover;
      border: 1px solid $btn-hover;
    }
  }
  @include media(mobile){
    #{$parent}{
      width: 100%;
      font-size: 1.6rem;
    }
  }
}

@mixin custom-table($parent, $font-size, $background){
  #{$parent}{
    .table-modern > thead > tr > th{
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.78;
      &:first-child{
        padding-left: 0px;
      }
    }
    .table-modern{
      font-size: $font-size;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.78;
      color: $color-font-td;

      span{
        float: left;
        width: 100%;
      }

      > tbody > tr > td{
        background: $background;
        border: 0;
        padding: 10px 15px;
        vertical-align: middle;
      }

      tbody > tr, tfoot > tr{
        &:last-child{
          border-bottom: 1px solid $input-border
        }
      }

      > tfoot > tr > td{
        background: $background-table-foot;
        border: 0;
        padding: 20px 15px;
      }
    }
  }
}
//
// Checkboxes
// --------------------------------------------------

@mixin new-checkbox-variant($parent, $color, $input-border) {
  #{$parent} input[type="checkbox"] + label {
    &::before {
      border: 1px solid $input-border;
    }
    &::after{
      color: #fff;
      border-color: $color;
      background-color: $color;
      font-family: $font-new-icons;
      content: $pet-icon-check;
      font-size: 23px;
      text-indent: -5px;
    }
  }
}

@mixin checkbox-variant($parent, $color) {
  #{$parent} input[type="checkbox"] + label,
  #{$parent} input[type="radio"] + label {
    &::before {
    }
    &::after{
      color: #fff;
      border-color: $color;
      background-color: $color;
    }
  }
}

@mixin checkbox-variant-indeterminate($parent, $color) {
  #{$parent} input[type="checkbox"]:indeterminate + label,
  #{$parent} input[type="radio"]:indeterminate + label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      background-color: #fff;
    }
  }
}
//
// Radios
// --------------------------------------------------

@mixin radio-variant($parent, $color) {
  #{$parent} input[type="radio"]{
    + label{
      &::after{
        background-color: $color;
      }
    }
    &:checked + label{
      &::before {
        border-color: $color;
      }
      &::after{
        background-color: $color;
      }
    }
  }
}
