@mixin media($point) {
  @if $point == desktop-lg {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == desktop-md {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == min-desktop-md {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == desktop-sm {
    @media (max-width: 980px)  { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == min-tablet {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content; }
  }
}

@mixin custom-table($parent, $font-size, $background){
  #{$parent}{
    .table-modern > thead > tr > th{
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.78;
      &:first-child{
        padding-left: 0px;
      }
    }
    .table-modern{
      font-size: $font-size;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.78;
      color: $color-font-td;

      span{
        float: left;
        width: 100%;
      }

      > tbody > tr > td{
        background: $background;
        border: 0;
        padding: 10px 15px;
        vertical-align: middle;
      }

      tbody > tr, tfoot > tr{
        &:last-child{
          border-bottom: 1px solid $input-border
        }
      }

      > tfoot > tr > td{
        background: $background-table-foot;
        border: 0;
        padding: 20px 15px;
      }
    }
  }
}