$font-family-base: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-size-base: 14px;
$font-size-input: 14px;
$line-height-default: 25px;
$border-radius-base: 5px;
$border-radius-large: 5px;
$border-radius-small: 5px;
$input-border-radius: 5px;
$btn-border-radius-base: 5px;

//Responsive
$font-size-title-lgg: 35px;
$font-size-title-lg-28: 28px;
$font-size-title-lg-26: 26px;
$font-size-title-lg-22: 22px;
$font-size-title-lg-24: 24px;
$font-size-title-lg-20: 20px;
$font-size-title-lg: 18px;
$font-size-title-md: 16px;
$font-size-title-sm: 14px;
$font-size-title-sx: 12px;
