@import "base/_global";

body{
  background: $background_default;
  color: $text-default;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

.title{
  font-size: 2.8rem;
  line-height: 1.3;
  text-transform: uppercase;
}

.dashboard{
  
}

.sidebar{
  background: $violet;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  .title-sidebar{
    color: $hover_link;
    font-size: 2rem;
  }
  a{
    color: #fff;
    font-size: 1.6rem;
    &:hover, &.active{
      text-decoration: none;
      cursor: pointer;
      color: $hover_link;
    }
    i{
      margin-right: 10px;
    }
  }
}

.main{
  position: relative;
}

.box-white{
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

//helpers
.page-center{
  margin: 0 auto; 
}
.full-width{
  width: 100%;
}
.padding-container{
  padding: 20px;
}